{% extends 'EmployeeManage/base.html' %}

{% block content %}

<div class = "container_main">
  <div class="con_top">
    <h2 class="google_font">Show Employee List</h2>
  </div>

  <div class="con_btn">
    <form action="{% url 'doSearch' %}" method="post">
      {% csrf_token %}
        <div class="inline-block">
        {{ form.id_num }}{{ form.name }}{{ form.dept }}{{ form.salary }}
        </div>
        <div>
          <div class="inline-block">
            <button type="submit" class="google_font">Search</button>
            <label class="google_font">Salary:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <span class="google_font">{{ form.radio.0 }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="google_font">{{ form.radio.1 }}</span>
          </div>
        </div>
    </form>
  </div>
  
  <div class="con_tbl">

    <table class="em_tbl">
      <tr>
        <th class="google_font">ID</th>
        <th class="google_font">Name</th>
        <th class="google_font">Dept</th>
        <th class="google_font">salary</th>
      </tr>
      {% for emp in emplist %}

      <tr>
        <td>{{ emp.id }}</td>
        <td>{{ emp.name }}</td>
        <td>{{ emp.dept }}</td>
        <td>{{ emp.salary }}</td>
      </tr>

      {% endfor %}
    </table>

    {% if strErrMsg %}
    <h9 class="google_font">{{ strErrMsg }}</h9>
    {% endif %}
    
  </div>

{% endblock %}